@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

/* Bootstrap Override */

blockquote {border-left:3px solid #bbb;padding:0 0 0 9px;}
blockquote p {font-size:13px;}

h1 {font-size:25px;}
h2 {font-size:22px;}
h3 {font-size:19px;}
h1,h2,h3 {line-height:32px;}
h4 {font-size:16px;}
h5 {font-size:14px;}
h6 {font-size:12px;}

code {word-break:break-all;white-space:normal;}
a {word-break:break-all;white-space:normal;}

body{font-family:'Nanum Gothic', sans-serif;font-size:12px;line-height:20px;background:#eee;}
input,button,select,textarea {font-family:'Nanum Gothic', sans-serif;}
.navbar-search .search-query{font-family:'Nanum Gothic', sans-serif;}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],
input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],
input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {height:16px;font-size:12px;line-height:16px;}
label, input, button, select, textarea {font-size:12px;line-height:16px;}
select, input[type="file"] {height:26px;line-height:26px;}

.btn {font-size:12px;line-height:16px;}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {font-size: 12px;}
a {color:inherit;}


/* Origin Css */

a {cursor:pointer;}
section {margin-top:60px;}

div.item {background:#fff;border-radius:10px;margin-bottom:20px;cursor:pointer;box-shadow:2px 2px 8px rgba(0,0,0,.2)}
div.item > div.inner {padding:10px;}

div.item > div.inner > h2 {font-size:18px;line-height:20px;color:#555;font-weight:bold;border-bottom:1px solid #ddd;padding-bottom:7px;}
div.item > div.inner > h2 > small {float:right;display:block;font-size:12px;padding-top:7px;}
div.item > div.inner > h2:after {clear:both;display:table;content:"";}
div.item > div.inner > .thumbnail-preview {margin-bottom:10px;}
div.item > div.inner > .thumbnail-preview > img {width:100%;}

div.item > div.inner > div.contents h1 {font-size:16px;color:#666666;}
div.item > div.inner > div.contents h2 {font-size:15px;color:#686868;}
div.item > div.inner > div.contents h3 {font-size:14px;color:#6a6a6a;}
div.item > div.inner > div.contents h4 {font-size:13px;color:#6c6c6c;}
div.item > div.inner > div.contents h5 {font-size:13px;color:#6e6e6e;}
div.item > div.inner > div.contents h6 {font-size:13px;color:#707070;}



/* Modal */

.simple-modal-blind {position:fixed;top:0;left:0;width:100%;height:100%;background:url("../images/blind.png");z-index:99;}

.simple-modal {
	position:absolute;z-index:100;display:none;
	left:50%;top:15%;margin-left:-384px;
	width:768px;
}
.simple-modal > a.close {display:block;position:absolute;width:30px;height:30px;text-align:center;right:0;top:-30px}
.simple-modal > a.close > i {font-size:25px;line-height:30px;}

.simple-modal > .subject {width:728px;height:35px;line-height:35px;background:#fff;padding:20px;font-size:30px;}
.simple-modal > .main {width:728px;background:#fff;padding:20px;}
.simple-modal > .date {width:768px;text-align:right;font-size:20px;line-height:30px;color:#fff;}
.simple-modal > .controller {display:none;}
@media (min-width: 980px) {

}
@media (min-width: 768px) and (max-width: 979px) {
	section {margin-top:0;}
}
@media (min-width: 480px) and (max-width: 767px) {
	section {margin-top:0;}
	.simple-modal {
		width:100%;
		margin:0;left:0;
	}
	.simple-modal > .subject {width:auto;height:auto;}
	.simple-modal > .main {width:auto;height:auto;overflow:scroll;}
	.simple-modal > .date {width:auto;text-align:right;}
}
@media (max-width: 480px) {
	section {margin-top:0;}
	.simple-modal {
		width:100%;
		margin:0;left:0;
	}
	.simple-modal > .subject {width:auto;height:auto;}
	.simple-modal > .main {width:auto;height:auto;overflow:scroll;}
	.simple-modal > .date {width:auto;text-align:right;}

}